*{
    margin: 0;
    padding: 0;
}
#open-btn{
    display: block;
    background-color: #fff;
    width: 20vw;
    line-height: 4;
    font-size: 2em;
    margin: 5vh auto 0;
    border: 0;
    box-shadow: 15px 15px 20px #333;
    cursor: pointer;
}
/*모달 팝업*/
#popup-box{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
}
#popup-box > div{
    position: absolute;
    width: calc(100vw - 400px);
    height: calc(100vh - 400px);
    background-color: #fff;
    color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: right;
}
/*반응형, 레이어 팝업*/
/* #popup-box{
    position: fixed;
    max-width: 800px;
    max-height: 400px;
    min-width: 300px;
    min-height: 200px;
    width: calc(100vw - 40px);
    height: calc(100vh - 200px);
    background-color: #333;
    color: #fff;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
} */
#popup-box span{
    cursor: pointer;
    position: absolute;
    text-align: right;
    right: 5%;
    top: 5%;
    width: 80%;
}
#popup-box p{
    text-align: center;
    line-height: 400px;
}
.show{
    display: block !important;
}